body {
	text-align: center;
	font-family: Courier;
	color: white;
<<<<<<< Updated upstream
	text-shadow: 2px 2px 3px rgb(200 200 200);
	background-image: url(imagens/cloud.jpg); 
=======
	text-shadow: 2px 2px 3px #c3c4d6; /*rgb(200 200 200)*/
	background-image: url(imagens/sharon-mccutcheon.jpg);
>>>>>>> Stashed changes
	background-size: cover;
	/*background: url(imagens/abstract-space.png) no-repeat center center fixed 
	|--> outra forma de fazer o fundo;*/
	padding: 10px;
}

h1 {
	margin-top: 20px;
	font-size: 60px;
	text-shadow: 2px 2px 3px #FE7D6A;
	/*margin-top: 50px;*/
}

h2 {
	font-size: 25px;
	text-shadow: 1px 1px 2px rgb(20 20 20);
}

h3 {
	padding: 0;
	margin:  0;
}

.content-container {
	margin-top: 30px;
}

.btn {
	text-align: right;
	margin-top: 0;
	padding: 0;
}

.button {
	font-size: 18px;
	color: white;
	background-color: #c3c4d6;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px 15px 10px 15px;	
}

.button:hover {
	background-color: floralwhite;
	color: #FE7D6A;
	font-weight: bold;
	border: 2px solid #FE7D6A;
	text-shadow: none;
}

.list {
	font-size: 18px;
	list-style: none;
	width: 60%;
	margin: 50px auto;	
	text-align: left;
	color: white;
	text-shadow: 1px 1px 2px rgb(20 20 20);
}

.fas {
	color: white;
	padding-right: 10px;
}

.github a {
	color: #FE7D6A;
	font-weight: bold;
	text-decoration: none;
}

.europha a {
	color: white;
	text-decoration: none;
}

.europha a:hover {
	color: #FE7D6A;
	text-decoration: underline;
}

.social-buttons-container {
	margin: 20px 0;
}

.social-buttons-container a {
	font-size: 40px;
	color: white;
	padding-right: 10px;
}

.social-buttons-container a:hover {
	color: #FE7D6A;
}

.unsplash {
	font-size: 12px;
}
